/* line 14, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 23, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 30, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 38, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 40, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 42, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 11, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 20, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 17, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 18, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
ol {
  list-style-type: decimal;
}

/* line 20, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
td {
  vertical-align: top;
}

/* line 22, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  bottom: -0.25em;
}

/* line 24, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 53, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:hover, a:active {
  outline: none;
}

/* line 58, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 71, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 80, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline;
}

/* line 84, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* line 88, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 99, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 100, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 105, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 118, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 120, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 125, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_styles.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 10, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 12, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 14, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 16, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  zoom: 1;
}
/* line 61, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 62, ../../../../../../Applications/compass.app/Contents/Resources/ruby/compass_0.11/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 2, ../scss/partials/_hints.scss */
.hint {
  position: fixed;
  text-align: center;
  bottom: 40px;
  padding: 10px;
  left: 0px;
  width: 100%;
  background: #f0f0f0;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 32px;
  z-index: 500;
  display: none;
  pointer-events: none;
}

/* line 19, ../scss/partials/_hints.scss */
.hint kbd {
  font-family: inherit;
  display: inline-block;
  color: black;
  padding: 2px 3px 8px 3px;
  margin-bottom: 1em;
  font-size: 25px;
  border-radius: 3px;
  clear: both;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background: #B6B6B6;
  /* Old browsers */
  background: #cdcdcd;
  /* Old browsers */
  background: -moz-linear-gradient(left, #cdcdcd 0%, #e7e7e7 30%, #e7e7e7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cdcdcd), color-stop(30%, #e7e7e7), color-stop(100%, #e7e7e7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #cdcdcd 0%, #e7e7e7 30%, #e7e7e7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #cdcdcd 0%, #e7e7e7 30%, #e7e7e7 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(left, #cdcdcd 0%, #e7e7e7 30%, #e7e7e7 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdcdcd', endColorstr='#e7e7e7',GradientType=1  				);
  /* IE6-9 */
  background: linear-gradient(left, #cdcdcd 0%, #e7e7e7 30%, #e7e7e7 100%);
  /* W3C */
}

/* line 65, ../scss/partials/_hints.scss */
.hint kbd span {
  display: block;
  padding: 7px 15px 5px 15px;
  border-radius: 2px;
  background: #CCC;
  /* Old browsers */
  background: #e7e7e7;
  /* Old browsers */
  background: -moz-linear-gradient(left, #e7e7e7 0%, #e7e7e7 70%, #cdcdcd 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #e7e7e7), color-stop(70%, #e7e7e7), color-stop(100%, #cdcdcd));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #e7e7e7 0%, #e7e7e7 70%, #cdcdcd 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #e7e7e7 0%, #e7e7e7 70%, #cdcdcd 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(left, #e7e7e7 0%, #e7e7e7 70%, #cdcdcd 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cdcdcd',GradientType=1 				);
  /* IE6-9 */
  background: linear-gradient(left, #e7e7e7 0%, #e7e7e7 70%, #cdcdcd 100%);
  /* W3C */
}

/* line 8, ../scss/style.scss */
body {
  width: 300px;
  height: 600px;
}

/* line 15, ../scss/style.scss */
header {
  background: pink;
  width: 100px;
  height: 100px;
}
/* line 21, ../scss/style.scss */
header .eyes {
  padding-top: 20px;
  width: 50px;
}
/* line 27, ../scss/style.scss */
header .nose {
  width: 20px;
  height: 40px;
}
/* line 31, ../scss/style.scss */
header .nose input[type='button'] {
  width: inherit;
  height: inherit;
}
/* line 38, ../scss/style.scss */
header .mouth {
  width: 50px;
  height: 10px;
}
/* line 43, ../scss/style.scss */
header .mouth textarea {
  width: inherit;
  height: inherit;
}

/* line 52, ../scss/style.scss */
.upper-body {
  width: 300px;
  height: 200px;
}
/* line 57, ../scss/style.scss */
.upper-body .torso {
  background: red;
  width: 200px;
  height: inherit;
  float: left;
}
/* line 65, ../scss/style.scss */
.upper-body .arm, .upper-body .arm-left, .upper-body .arm-right {
  width: 50px;
  height: inherit;
}
/* line 71, ../scss/style.scss */
.upper-body .arm-left {
  float: left;
  background: blue;
}
/* line 78, ../scss/style.scss */
.upper-body .arm-right {
  float: left;
  background: pink;
}

/* line 88, ../scss/style.scss */
.lower-body {
  background: blue;
  width: 200px;
  height: 250px;
}
/* line 95, ../scss/style.scss */
.lower-body .leg {
  width: 100px;
  height: inherit;
}

/* line 102, ../scss/style.scss */
footer {
  background: green;
  width: 250px;
  height: 50px;
}

/* line 112, ../scss/style.scss */
.left {
  float: left;
  background: orange !important;
}

/* line 118, ../scss/style.scss */
.right {
  float: right;
  background: yellow  !important;
}

/* line 124, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 130, ../scss/style.scss */
.hcentred {
  margin: 0 auto;
}

/* Achievements */
/* line 148, ../scss/style.scss */
.achievement {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 0px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5000;
  pointer-events: none;
}

/* line 162, ../scss/style.scss */
.achievement h3 {
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

/* line 169, ../scss/style.scss */
.achievement p {
  color: #B2E725;
  margin: 0;
  padding: 0;
  font-size: 24pt;
}

/* The goggles bookmarklet */
/* line 178, ../scss/style.scss */
a#bookmarklet {
  padding-left: 32px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  color: black;
  border: 1px dotted gray;
  text-decoration: none;
  background-image: url(images/icon-goggles-tiny.png);
  background-repeat: no-repeat;
  background-position: 5px 4px;
}

/* line 191, ../scss/style.scss */
a#bookmarklet:hover {
  background-color: #f0f0f0;
}

/* line 195, ../scss/style.scss */
a#bookmarklet.loading {
  background-image: url(images/throbber.gif);
  background-position: 8px 6px;
  background-color: #f0f0f0;
}

/* The help bar at the top of the page */
/* line 203, ../scss/style.scss */
div.help {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 500;
  background: gray;
  color: white;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}

/* line 216, ../scss/style.scss */
div.help a {
  color: inherit;
}

/* line 220, ../scss/style.scss */
div.help .remaining {
  font-weight: bold;
}

/* The parable story */
/* line 226, ../scss/style.scss */
html, body {
  font-family: Baskerville, Georgia, serif;
  width: 640px;
  margin: 0 auto;
  padding-top: 1em;
}

/* line 233, ../scss/style.scss */
h1 {
  font-weight: normal;
  text-align: center;
}

/* line 238, ../scss/style.scss */
div.drop-cap {
  font-size: 48px;
  margin-top: -6px;
  float: right;
}

/* line 244, ../scss/style.scss */
img#hackasaur {
  width: 400px;
  height: 300px;
}

/* line 249, ../scss/style.scss */
img#supergirl {
  width: 300px;
  height: 330px;
}

/* line 254, ../scss/style.scss */
.image-holder {
  text-align: center;
}

/* line 258, ../scss/style.scss */
.curtain {
  position: absolute;
  width: 640px;
  height: 250px;
  background-color: white;
}
